@import "../../app/variables.module.scss";

.button {
    color: $white-color;
    font-weight: 500;
    max-width: 158px;
    padding: 10px 20px;
    border-radius: 16px;
    background: $dark-blue;
    margin: 5px;
}
