.button {
    color: white;
    font-weight: 500;
    width: 158px;
    height: 44px;
    padding: 10px 50px 10px 50px;
    border-radius: 16px;
    background: rgba(52, 73, 102, 1);
    margin: 5px;
}
